/* =======================================
   Article
   =======================================*/
#article-page {
	.article {
		.section {
			p {
				color:$brand-blue;
			}
			hr {
				margin-bottom:$margin;
			}
		}
		aside {
			.share-links {
				margin-bottom:$margin;
				ul {
					display: inline-block;
					padding-bottom:15px;
					border-bottom:$brand-border;
				}
			}
			.list-of-recommended-articles {
				
			}
		}
	}
}

@media (min-width: 992px) {
    #article-page {
		.article {
			article {
				border-right:$brand-border;
			}
		}
	}
}