/* =======================================
   Footer
   =======================================*/
#app-footer {
	background-color:$brand-yellow;
	#newsletter-sign-up {
	    p {
			color:$brand-blue !important;
		}
	}
	#other-ways-to-help {
		p {
			color:$brand-blue !important;
		}
		.join-the-conversation {
			margin-top:$margin;
			color:#fff !important;
			.h4 {
				color:$brand-blue !important;
			}
		}
	}
	.form {
        padding-bottom: $margin *2;
        .form-control {
		    margin-bottom: $margin /2;
		    border-color:#fff;
		    box-shadow: none;
		    border-radius:2px;
		}
		.error {
	        position: relative;
	        top:-13px;
	    }
    }
    .get-involved-and-query {
		position: relative;
		.left {
			position: absolute;
			top:0;
			left:0;
			width:50%;
			height:100%;
			background: $brand-blue;
		}
		.right {
			position: absolute;
			top:0;
			right:0;
			width:50%;
			height:100%;
			background: $brand-pink;
		}
		.flex-wrapper {
	        display: flex;
	        flex-direction: column;
	        .section {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding-top:$margin *2;
				padding-bottom: $margin *2;
				.contact-links {
					margin-bottom: $margin;
				}
				footer {
			    	font-size: 10px;
			    }
			}
			.get-involved {
				background: $brand-blue;
				h2 {
					color:$brand-pink;
				}
				h4 {
					color:#fff;
				}
			}
	    }
	}
}

@media (min-width: 768px) {
	#app-footer {
		.get-involved-and-query {
		    .flex-wrapper {
				flex-direction: row;
		    }
		}
	}
}

@media (max-width: 991px) {
    #app-footer {
        #newsletter-sign-up {
	    	padding-bottom:49px; // Due to <p>'s 10px margin-bottom
	    }
    }
}

@media (min-width: 992px) {
    #app-footer {
        .form {
            padding-bottom:0;
        }
    }
}
