/* =======================================
   Get the facts
   =======================================*/

#get-the-facts {
	.key-facts {
		.flex-horizontal {
			display: block;
		}
		.fact {
			text-align: center;
			width:100%;
			height:180px;
			padding:$margin *2;
		}
	}
	.our-aims {
	    .list-of-aims {
	    	position: relative;
	        display: flex;
	        justify-content: center;
	        flex-direction: column;
	        li {
	            display: flex;
	            align-items: center;
	            justify-content: flex-start;
	            margin-bottom:$margin;
	            .circle {
	                width:80px;
	                height:80px;
	                border-radius: 50%;
	                background:#333;
	                margin-right:$margin;
	            }
	        }
	        li:last-child {
	            margin-bottom:0;
	        }
	    }
	}
}

@media (min-width: 768px) {
	#get-the-facts {
		.key-facts {
			.flex-horizontal {
				display: flex;
			}
		}
		.our-aims {
		    .list-of-aims {
		        align-items:center;
		        flex-direction: row;
		        justify-content:space-between;
		        padding-top:$margin;
		        li {
		            flex-direction: column;
		            text-align:center;
		            span {
		            	padding:0 5px;
		            }
		            .circle {
		                margin-right:0;
		                margin-bottom:10px;
		            }
		        }
		        li:last-child {
		        	margin-bottom: $margin;
		        }
		    }
		}
	}
}