/* =======================================
   Header
   =======================================*/

#main-header {
	width:100%;
	.navbar {
	    margin-bottom: 0;
	    border: 0;
	    .navbar-default {
		    background-color: #fff;
		    border: 0;
		}
	    .navbar-toggle {
	    	border: 0;
	    	float:left;
	    	margin-left:-10px;
	    	margin-right:0;
	    }
	}
}

@media (min-width: 768px) {
    .navbar-nav {
    	margin-left:-30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}