/* =======================================
   Meet those most impacted
   =======================================*/
.case-studies {
	.case-study {
		padding-bottom:0;
		position: relative;
		h2 {
			margin-bottom:$margin;
		}
		blockquote {
			padding-top:0;
		}
		.case-fact p {
			margin-bottom:0;
		}
		.btn {
			margin:$margin 0;
			z-index:20;
		}
		.flex {
			display: flex;
			flex-direction: column;
			.case-content {
				padding:0 15px;
			}
			.case-image {
				position: relative;
				display: flex;
				flex-flow: inherit;
				z-index:10;
				transition: all .6s ease-in-out 0.3s;
			}
		}
		.case-texts {
			padding-top:30px;
		}
	}
	.case-study:nth-child(odd) {
		background-color:$brand-gray;
		.flex {
			.case-image {
				img {
					align-self: flex-end;
				}
			}
		}
	}
	.case-study:nth-child(even) {
		background-color:#fff;
		.flex{
			.case-image {
				img {
					align-self: flex-start;
				}
			}
		}
	}
}

.case-studies {
	.case-study.isOpen {
		.flex {
			.case-image {
				height:0;
				opacity:0;
				transition: opacity .6s ease-in-out 0s;
			}
		}
	}
	.case-study:nth-child(odd).isOpen {
		.flex {
			.case-image {
				transform: translateX(80px);
			}
		}
	}
	.case-study:nth-child(even).isOpen {
		.flex {
			.case-image {
				transform: translateX(-80px);
			}
		}
	}
}

@media (max-width: 991px) {
	.case-studies {
		.case-study {
			.case-image {
			    img {
			    	max-width:60%;
			    }
			}
		}
	}
}

@media (min-width: 768px) and (max-width:991px) {
	.case-studies {
		.case-study {
			.flex {
				.case-content {
					width:750px;
					margin-right: auto;
				    margin-left: auto;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.case-studies {
		.case-study {
			.flex {
				width: 970px;
				margin-right: auto;
			    margin-left: auto;
			    padding-left: 15px;
			    padding-right: 15px;
				flex-direction: row;
				.case-content {
					padding:0 0 60px;
				}
				.case-image {
					width:100%;
					img {
						max-width: 100%;
					}
				}
			}
		}
		.case-study:nth-child(even) {
			.flex{
				flex-direction: row-reverse;
				.case-content {
					padding:0 0 0 60px;
				}
				.case-image {
					img {
						align-self: flex-end;
					}
				}
			}
		}
		.case-study:nth-child(odd) {
			.flex{
				.case-content {
					padding:0 60px 0 0;
				}
			}
		}
	}
}