/* =======================================
   Admin / Case Studies
   =======================================*/

#case-studies {
	.case-study-wrapper {
		position: relative;
		padding:15px;
		article {
			padding:15px;
			border:1px solid #000;
		}
	}
}