/* =======================================
   Admin / Comments
   =======================================*/

#comments {
	.comments-filters {
		display: flex;
		margin-bottom:15px;
		li {
			margin-right:15px;
		}
		li:last-child {
			margin-right:0;
		}
	}
	.comments-wrapper {
		.comment-item {
			padding:15px;
			.outer-wrapper {
				display: flex;
				align-items:center;
				justify-content:space-between;
				border-bottom: $brand-border;
				padding-bottom: 15px;
				.comment-wrapper {
					display: flex;
					align-items:center;
					justify-content:center;
					.emoji {
						padding-right:15px;
					}
					.content {
						padding-right: 60px;
						.article-title {
							font-size: 18px;
							margin-bottom:5px;
							a {
								color: $brand-pink;
								&:hover, &:focus {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
	}
}