/* =======================================
   Admin / Header
   =======================================*/
#admin-nav {
	ul.message-dropdown {
	    max-height: 380px !important;
	}
	.top-nav {
		.notifications {
			.message-preview {
				width:320px;
				.media {
					display: flex;
					span {
						i {
							display: flex;
							font-size: 16px;
						}
					}
					.media-heading {
						strong:first-child {
							color:$brand-pink;
						}
					}
					p {
						margin-bottom:0;
					}
				}
			}
		}
		.bell-wrapper {
			position: relative;
			.tota-number-of-notifications {
				width:16px;
				height:16px;
				position: absolute;
			    top: -8px;
			    right: -8px;
			    font-size: 8px;
				display: inline-block;
				border-radius: 50%;
				display: flex;
				align-items:center;
				justify-content:center;
				background: $brand-pink;
				color:#fff;
			}
		}
	}
}

.side-nav li.active>a {
	color: #fff;
    background-color: #090909;
}