/* =======================================
   Admin / Template
   =======================================*/

#admin {
	@include viewport-unit(min-height, 100vh);
	background:#fff;
	.page-header-wrapper {
		display: flex;
		align-items:center;
		justify-content:space-between;
		padding-bottom: 10px;
	    margin: 44px 0 22px;
	    border-bottom: 1px solid $brand-gray;
	    h1 {
	    	margin:0;
	    }
	}
	.panel-default {
		border-color: $brand-gray;
	}
	.dropzone {
		display: flex;
	    align-items: center;
	    justify-content: center;
		border: 1px solid $brand-gray;
		.dz-message {
			margin:0;
		}
	}

}