/* =======================================
   Partials
   =======================================*/

// Masthead
#masthead {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @include viewport-unit(height, 100vh);
    .container {
        margin-top: auto;
        margin-bottom: auto;
        h1 {
            font-size:56px;
            text-transform: uppercase;
        }
        p {
            font-size:24px;
        }
        .cta-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media (max-width: 767px) {
    #masthead {
	    .container {
	        margin-left: 0;
	    }
	}
}

@media (max-width: 991px) {
	#get-the-facts {
		.list-box {
			margin-top: $margin;
		}
	}
}

// The Issue
.the-issue {
    padding-bottom: 0;
    hr {
        margin:50px 0 0; // Consider last <p>'s 10px margin-bottom
    }
}

// Block-Quote
.quote {
    position: relative;
    &:before {
        position: absolute;
        left:15px;
        top: -5px;
        font-family: Georgia, serif;
        content: "\201C";
        font-size: 40px;
    }
    blockquote {
        padding: 10px 20px;
        margin: 0 0 $margin;
        border-left: 0;
    }
}

// Our current challenge
.our-current-challenge {
    .section h2 {
    	margin-bottom: $margin;
    }
}

.fact {
    background-color: $brand-pink;
    color:#fff;
}

@media (min-width: 768px) {
	.the-issue {
        p {
            margin-bottom:0;
        }
    }
}

// Forms
.form {
	form {
		.form-group {
			input {
				width:70%;
			}
		}
	}
}

textarea {
	max-width: 100%;
}

// Join the conversation
@media (min-width: 992px) {
	.join-the-conversation {
	    display: flex;
	    align-items: center;
	    justify-content: flex-start;
	    .h4 {
	    	margin:0;
	    }
	    p {
	    	margin:0;
	        padding-right:10px;
	    }
	}
}